
<div class="section-tout">
    <h2><span><em>Projects</em></span></h2>
    <section class="container" id="apps">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <h3><span><em>Social App Angular Based</em></span></h3>
                        <img src="images/DevMtn-Social-app.png" class="img-responsive" alt="socialApp">
                        <input class="view" data-toggle="modal" data-target="#imageModal" type="button" ng-click="loadModal('images/DevMtn-Social-app.png', 'socialApp')">
                        <input class="play" type="button" ng-click="scApp()"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <h3><span><em>Quiz App and Firebase</em></span></h3>
                        <img src="images/quizApps.png" class="img-responsive" alt="QuizApp - AngularJS - Firebase">
                        <input class="view" data-toggle="modal" data-target="#imageModal" type="button" ng-click="loadModal('images/quizApps.png', 'QuizApp - AngularJS - Firebase')">
                        <input class="play unavailable" type="button"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <h3><span><em>MyEcommerce App</em></span></h3>
                        <img src="images/under-development.jpg" class="img-responsive" alt="Ecommerce App - MEAN stack usage">
                        <input data-toggle="modal" data-target="#imageModal" class="view" type="button" ng-click="loadModal('images/under-development.jpg', 'Ecommerce App - MEAN stack')">
                        <input class="play unavailable" type="button"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="closing()">&times;</button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <img ng-src="{{imageValue}}" style="width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h2><span><em>About me</em></span></h2>
    <section class="container">
        <p id="about">
            I am an IS grad from Brigham Young University, passionate for web development technologies and everything related to JavaScript.
            The apps were built by me but requirements were provided by DevMountain.
            You are welcome to look into my GitHub for more <a href="https://github.com/lehibeltran/JavaScriptFun">JavaScript fun.</a>
        </p>
    </section>
    <h2><span><em>Contact</em></span></h2>
    <section id="contact">
        <h2>Let's work together.</h2>
        <h3>I'm currently accepting job proposals.</h3>
        <a href="mailto:lehibeltran@gmail.com" class="email-button">Email Lehi</a>
    </section>
</div>
