/*------------------ @reset ------------------*/
body,html {margin:0;padding: 0;width: 100%;height:100%;}
#home {
    height: 526px;
    position: fixed;
    top: 0;
    width: 100%;
}
body-dir {
    width: 100%;
    height: 100%;
}
body-dir .section-tout {
    margin: 526px auto 0 auto;
    background-color: #222222;
    position: relative;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    z-index: 3;
    padding-top: 20px;
}
#canvas {
    background-image: url('../images/starryn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index:-1;
    top: 0;
}
.splash{
    position: absolute;
    z-index:1;
    top: 0;
    width: 100%;
    height: 100%;
}
.avatar {
    display: block;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    z-index: -1;
}
.section-tout h2 {
    border-bottom: 1px solid #f4f3f3;
    display: block;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 50px;
}
.section-tout h2 span {
    margin: 0;
    display: block;
    width: 780px;
    margin: 0 auto;
}
.section-tout h2 span em {
    border-bottom: 1px solid #444948;
    font-style: normal;
    display: inline-block;
    padding: 20px 0;
    height: 10px;
}
img, a img, :link img, :visited img {
    border: 0;
    padding: 0;
    margin: 0;
}
header-dir h2 {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 3em;
    line-height: 1em;
    padding-top: 20px;
}
header-dir h2 span {
    display: block;
    font-size: 14px;
    padding-top: 15px;
    font-weight: normal;
    color: rgba(255,255,255,0.6);
    font-family: ProximaNovaLight;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
#social a.linkedin {
    background-image: url(../images/linkedin.png);
}
#social a.github {
    background-image: url(../images/github.png);
}
#social a.email {
    background-image: url(../images/email.png);
}
#social a.resume {
    background-image: url(../images/star-4-48.png);
}
#social a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-indent: -999em;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    border: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#logo {
    position: fixed;
    top: 11px;
    left: 20px;
    width: 20px;
}
#themes{
    text-align: center;
    display: inline-block;
}
#themes .darkly{
    background-color: #375a7f;
}
#themes .flatly{
    background-color: #2c3e50;
}
#themes .superhero{
    background-color: #4e5d6c;
}
#themes .yeti{
    background-color: #333333;
}
#apps {padding: 60px 0;}
#about {padding: 20px 0 0 0;}
#contact {
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
    text-align: center;
}
#contact h2 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    color: #130E08;
    border-bottom: 0;
    height: auto;
}
#contact h3 {
    text-align: center;
    opacity: 0.7;
    display: block;
    padding-bottom: 20px;
}
.email-button {
    border-radius: 20px;
    border: 2px solid #444948;
    display: inline-block;
    text-align: center;
    color: #444948;
    padding: 30px 60px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: "ProximaNovaSemibold";
    margin-bottom: 20px;
    text-decoration: none;
}
.email-button:hover {
    background: #444948;
    color: #fff;
    text-decoration: none;
}
/*Projects button*/
.image:hover img{
    opacity:0.1;
}
.image:hover input {
    display: block;
}
.image input {
    position:absolute;
    display:none;
}
.image input.view {
    top:105px;
    left:135px;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 70px;
    background: url('../images/photo-48.png') no-repeat 0 0;
    background-position: center center;
    text-align: center;
}
.image input.play {
    top:105px;
    left:205px;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 70px;
    background: url('../images/arrow-37-48.png') no-repeat 0 0;
    background-position: center center;
    text-align: center;
}
.image input.play:hover{
    background: url('../images/No_sign.png') no-repeat 0 0;
    background-position: center center;
}

@media only screen and (max-width: 1024px) {
    body-dir .section-tout, #contact {
        padding-left: 10px;
        padding-right: 10px;
    }
    body-dir .section-tout {
        overflow-x: hidden;
        margin-bottom: 0;
    }
    #contact, body-dir .section-tout, body-dir .section-tout h2 span {
        width: 100%;
        box-sizing: border-box;
    }
}